ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
li {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  text-transform: capitalize;
  margin: .25em;
}

img {
  height: 15em;
}

.name {
  border-bottom: 1px solid #45cb06;
  padding: .25em;
}

p {
  padding: 0;
  margin: 0;
}

.email {
  padding: 1em;
  color: #c2bfc3;
  text-transform: uppercase;
  font-size: .8em;
}

.no-blur {
  color: #45cb06;
  text-shadow: none;
  padding: 1em;
  font-size: .75em;
}

.ssn {
  padding: 1em;
  color: transparent;
  text-shadow: 0 0 5px rgba(63, 169, 121, 0.8);
  font-size: .75em;
}

h1 {
  text-align: center;
}

h2 {
  margin: 1em 1em .25em 1em;
}
